.icon-arrow {
 width: 40px;
 height: 40px;
 /* padding: 5px; */
}

.right-arrow {
 color: #6C63FF;
 background-color: #313049;

}

@media screen  and (max-width:400px) {
    .table-responsive table{
        overflow-x:auto;
    }
}