.Tcompany {
    color: #313049;
    font-family: sans-serif;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 5));
    }
}


.slider {
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
    place-items: center;
}

.slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 10);
}

.slide-track:hover {
    animation-play-state: paused;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0)100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100px;
    transition: transform 1s;
    cursor: pointer;
}

img:hover {
    transform: translateZ(20px);

}